* {
  box-sizing: border-box;
}

#operator {
  width: 60px;
  height: 60px;
  margin: 5px;
}

#result {
  width: 200px;
  height: 60px;
}

.row {
  font-size: 0;
}

button {
  width: 60px;
  height: 60px;
  margin: 5px;
}